body {
  margin: 0;
  font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif'
}

@font-face {
  font-family: 'montserratregular';
  src: url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('./fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

hr {
  margin: 0;
}

/* .swal2-image{

} */